{% extends "layout.html" %}

{% block title %}O aplikaci - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>O aplikaci Spotlify</h2>
        <p>
            Spotlify je platforma pro streamování hudby, která vám umožňuje poslouchat miliony skladeb, vytvářet playlisty,
            objevovat novou hudbu a sdílet své oblíbené skladby s přáteli.
        </p>
        <h3>Funkce aplikace:</h3>
        <ul>
            <li>Streamování hudby v HD kvalitě</li>
            <li>Vytváření vlastních playlistů</li>
            <li>Objevování nové hudby na základě vašich preferencí</li>
            <li>Sdílení skladeb a playlistů s přáteli</li>
            <li>Možnost sledovat oblíbené interprety a alba</li>
        </ul>
        <h3>O společnosti MajneSpotifajne</h3>
        <p>
            MajneSpotifajne je inovativní společnost zaměřená na poskytování digitálních hudebních služeb. Jsme hrdí na
            naši platformu Spotlify, která přináší uživatelům po celém světě nekonečné možnosti objevování, poslechu a
            sdílení hudby.
        </p>
    </div>
</div>
{% endblock %}
