{% extends "layout.html" %}

{% block title %}Uživatelé - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Uživatelé</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th width="180">Uživatelské jméno</th>
                    <th width="200">Email</th>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                    <th>Telefon</th>
                    <th>Poslední platba</th>
                    <th>Další platba</th>
                    <th>Typ účtu</th>
                    <th>Datum a čas vytvoření účtu</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.account_id }}</td>
                    <td>{{ account.username }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.name }}</td>
                    <td>{{ account.surname }}</td>
                    <td>{{ account.phone }}</td>
                    <td>{{ account.last_payment_date }}</td>
                    <td>{{ account.next_payment_date }}</td>
                    <td>{{ account.acc_sub_type.type_description }}</td>
                    <td>{{ account.creation_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
