{% extends "layout.html" %}

{% block title %}Alba - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Alba</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Název alba</th>
                    <th>Od umělce</th>
                    <th>Datum vydání</th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                <tr>
                    <td>{{ album.album_id }}</td>
                    <td>{{ album.album_name }}</td>
                    <td>{{ album.artist.artist_name }}</td>
                    <td>{{ album.album_release_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
