{% extends "layout.html" %}

{% block title %}Umělci - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Umělci</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Jméno umělce</th>
                    <th>Poznámka</th>
                    <th>Datum dalšího turné</th>
                </tr>
            </thead>
            <tbody>
                {% for artist in artists %}
                <tr>
                    <td>{{ artist.artist_id }}</td>
                    <td>{{ artist.artist_name }}</td>
                    <td>{{ artist.artist_note }}</td>
                    <td>{{ artist.artist_next_tour }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
