{% extends "UserLayout.html" %}

{% block title %}Uživatelé - Spotify{% endblock %}

{% block content %}


<div>
    <form action="{% url 'createPlaylist' %}" method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-md-3">
            <label for="playlistName" class="form-label"><i class="bi bi-music-note"></i> Název
                playlistu:</label>
            <input type="text" class="form-control" id="playlistName" name="playlistName">
        </div>
        <div class="col-md-3">
            <label for="playlistNote" class="form-label"><i class="bi bi-chat-left-text"></i> Poznámka:</label>
            <input type="text" class="form-control" id="playlistNote" name="playlistNote">
        </div>
        <div class="col-md-3">
            <label for="playlistCategory" class="form-label"><i class="bi bi-list-task"></i> Kategorie:</label>
            <select class="form-select" id="playlistCategory" name="playlistCategory">
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary"><i class="bi bi-check"></i> Vytvořit</button>
        </div>
    </form>
</div>

{% endblock %}