{% extends "UserLayout.html" %}

{% block title %}Uživatelé - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <form method="GET" action="{% url 'followingAlbums' %}">
            <div class="form-group">
                <label for="category-filter">Filtrovat podle umělce:</label>
                <div class="input-group">
                    <select class="form-control" id="artist-filter" name="artist">
                        <option value="" {% if not selected_artist %}selected{% endif %}>Všichni umělci</option>
                        {% for artist in artists %}
                            <option value="{{ artist.artist_name }}" {% if artist.artist_name == selected_artist %}selected{% endif %}>{{ artist.artist_name }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Filtrovat</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <h2>Vaše sledované alba:</h2>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Název</th>
                <th scope="col">Od umělce</th>
                <th scope="col">Datum vydání</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for followingalbums in followingAlbums %}
            <tr>
                <td>{{ followingalbums.album.album_name }}</td>
                <td>{{ followingalbums.album.artist.artist_name }}</td>
                <td>{{ followingalbums.album.album_release_date|date:"Y-m-d" }}</td>
                <td>
                    <form action="{% url 'unfollowAlbum' followingalbums.album.album_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Přestat sledovat</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'openNewFollowAlbum' %}" class="btn btn-secondary btn-lg btn-block">Sledovat nové album</a>
    </div>
</div>
{% endblock %}
