{% extends "UserLayout.html" %}

{% block title %}Uživatelé - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <form method="GET" action="{% url 'followingPlaylists' %}">
            <div class="form-group">
                <label for="category-filter">Filtrovat podle kategorie:</label>
                <div class="input-group">
                    <select class="form-control" id="category-filter" name="category">
                        <option value="" {% if not selected_category %}selected{% endif %}>Všechny kategorie</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}" {% if category.category_name == selected_category %}selected{% endif %}>{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Filtrovat</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <h2>Vaše sledované playlisty:</h2>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Název</th>
                <th scope="col">Poznámka</th>
                <th scope="col">Kategorie</th>
                <th scope="col">Datum a čas vytvoření</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for followingPlaylist in followingPlaylists %}
            <tr>
                <td>{{ followingPlaylist.playlist.playlist_name }}</td>
                <td>{{ followingPlaylist.playlist.playlist_note }}</td>
                <td>{{ followingPlaylist.playlist.playlist_category }}</td>
                <td>{{ followingPlaylist.playlist.playlist_create_date|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <form action="{% url 'unfollowPlaylist' followingPlaylist.playlist.playlist_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Přestat sledovat</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'openNewFollowPlaylist' %}" class="btn btn-secondary btn-lg btn-block">Sledovat nový
            playlist</a>
    </div>
</div>
{% endblock %}
