<!-- index.html -->
{% extends "layout.html" %}

{% block title %}Home - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Discover new Artists and their music</h2>
        <h2>or display your work on our platform</h2>
        <p>Explore the world of music with Spotify. Find your favorite songs, discover new albums, and create your own
            playlists.</p>
        <div class="container">
            <div class="row">
                <div class="col-sm mb-3">
                    <a href="{% url 'userLogin' %}" class="btn btn-primary btn-lg btn-block">Přihlášení uživatele</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm mb-3">
                    <a href="{% url 'registration' %}" class="btn btn-secondary btn-lg btn-block">Registrace nového uživatele</a>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
</div>
{% endblock %}
