{% extends "layout.html" %}

{% block title %}Písně - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Písně</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Název písně</th>
                    <th>Délka písně</th>
                    <th>Z alba</th>
                    <th>Kategorie</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr>
                    <td>{{ song.song_id }}</td>
                    <td>{{ song.song_name }}</td>
                    <td>{{ song.song_length }}</td>
                    <td>{{ song.album.album_name }}</td>
                    <td>{{ song.category.category_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
