{% extends "UserLayout.html" %}

{% block title %}Uživatelé - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Vítejte uživateli {{ account.username }}</h2>
        <p>Zde jsou vaše vytvořené playlisty:</p>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Název</th>
                <th scope="col">Poznámka</th>
                <th scope="col">Kategorie</th>
                <th scope="col">Datum a čas vytvoření</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for playlist in created_playlists %}
            <tr>
                <td>{{ playlist.playlist_name }}</td>
                <td>{{ playlist.playlist_note }}</td>
                <td>{{ playlist.playlist_category }}</td>
                <td>{{ playlist.playlist_create_date|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <form action="{% url 'deletePlaylist' playlist.playlist_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Smazat</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'openCreatePlaylist' %}" class="btn btn-secondary btn-lg btn-block">Vytvořit playlist</a>
    </div>
</div>
{% endblock %}
