{% extends "UserLayout.html" %}

{% block title %}Uživatelé - Spotify{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Vítejte uživateli {{ account.username }}</h2>
        <p>Zde jsou vaše vytvořené playlisty:</p>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Název</th>
                <th scope="col">Poznámka</th>
                <th scope="col">Kategorie</th>
                <th scope="col">Datum a čas vytvoření</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for playlist in created_playlists %}
            <tr>
                <td>{{ playlist.playlist_name }}</td>
                <td>{{ playlist.playlist_note }}</td>
                <td>{{ playlist.playlist_category }}</td>
                <td>{{ playlist.playlist_create_date|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <form action="{% url 'deletePlaylist' playlist.playlist_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Smazat</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-secondary btn-lg btn-block" id="addPlaylistBtn">
            <i class="bi bi-plus-lg"></i> Přidat nový playlist
        </button>
        <div id="addPlaylistForm" style="display: none;">
            <form action="{% url 'createPlaylist' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="playlistName" class="form-label"><i class="bi bi-music-note"></i> Název playlistu:</label>
                    <input type="text" class="form-control" id="playlistName" name="playlistName" style="width: 250px">
                </div>
                <div class="mb-3">
                    <label for="playlistNote" class="form-label"><i class="bi bi-chat-left-text"></i> Poznámka:</label>
                    <input type="text" class="form-control" id="playlistNote" name="playlistNote" style="width: 250px">
                </div>
                <div class="mb-3">
                    <label for="playlistCategory" class="form-label"><i class="bi bi-list-task"></i> Kategorie:</label>
                    <select class="form-select" id="playlistCategory" name="playlistCategory" style="width: 250px">
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary"><i class="bi bi-check"></i> Vytvořit</button>
            </form>
        </div>
    </div>
</div>

<script>
document.getElementById("addPlaylistBtn").addEventListener("click", function() {
    var form = document.getElementById("addPlaylistForm");
    if (form.style.display === "none") {
        form.style.display = "block";
    } else {
        form.style.display = "none";
    }
});
</script>
{% endblock %}
